@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
}

html {
  font-size: 18px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  max-width: 1440px;
  margin: auto;
  height: 700px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 3rem;
}

.container {
  margin: auto;
  display: flex;
  width: 650px;
  box-shadow: 3px 3px 10px rgb(219, 219, 219);
  border-radius: 2rem;
}

.left-box,
.right-box {
  width: 50%;
}

.left-box {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem;
  gap: 1.5rem;
}

.left-box sub,
.left-box p,
.left-box h3 {
  color: hsl(221, 100%, 96%);
  opacity: 0.7;
}

.left-box > div {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.right-box h3,
.right-small span {
  color: hsl(224, 30%, 27%);
}

.small-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.small-box > div:nth-child(1) {
  display: flex;
}

.left-small p {
  font-weight: 700;
}

div.small-box:nth-of-type(1) .left-small p {
  color: hsl(0, 100%, 67%);
}

div.small-box:nth-of-type(2) .left-small p {
  color: hsl(39, 100%, 56%);
}

div.small-box:nth-of-type(3) .left-small p {
  color: hsl(166, 100%, 37%);
}

div.small-box:nth-of-type(4) .left-small p {
  color: hsl(234, 85%, 45%);
}

div.small-box:nth-of-type(1) {
  background-color: hsla(0, 100%, 67%, 0.1);
  border-radius: 0.5rem;
}

div.small-box:nth-of-type(2) {
  background-color: hsla(39, 100%, 56%, 0.1);
  border-radius: 0.5rem;
}

div.small-box:nth-of-type(3) {
  background-color: hsla(166, 100%, 37%, 0.1);
  border-radius: 0.5rem;
}

div.small-box:nth-of-type(4) {
  background-color: hsla(234, 85%, 45%, 0.1);
  border-radius: 0.5rem;
}

.right-small p {
  color: hsl(224, 30%, 27%);
  opacity: 0.7;
}

.left-small {
  display: flex;
  gap: 0.5rem;
}

.right-box span {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}

button {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 1)
  );
  border: 0;
  padding: 1rem;
  border-radius: 2rem;
}

.attribution {
  color: hsl(224, 30%, 27%);
}

@media only screen and (max-width: 375px) {
  body {
    width: 375px;
  }

  .container {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
  }

  .left-box,
  .right-box {
    width: 100%;
  }

  .left-box {
    border-radius: 0 0 2rem 2rem;
    padding: 1.5rem 2rem 2rem;
  }

  button {
    background-color: hsl(225, 80%, 10%);
  }
}
