* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.menu {
  display: flex;
  background-color: rgb(41, 41, 41);
  padding: 18px;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.menu li {
  list-style: none;
  /* text-align: center; */
  /* flex-grow: 1; */
}

.menu a {
  text-decoration: none;
  color: white;
}

.main-container {
  display: flex;
  justify-content: center;
}

.center-container {
  background-color: rgb(250, 250, 250);
  box-shadow: 4px 4px 10px gainsboro;
  border-radius: 10px;
  width: 576px;
}

.center-container h3 {
  text-align: center;
}

.post-container p {
  padding: 20px;
}
